@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 480px){

    .bar{
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 0px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #FFFFFF;
        height: 100vh;
        width:100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .hamburger.active{
        background-color:  #FFFFFF;
        z-index: 10;
        position: fixed;
        right: 0%;
        top: 5%;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu.active{
        left: 0;
    }
    
}